@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin 'daisyui';

@layer base {
	html,
	body {
		height: 100%;
		margin: 0;
		background-image: linear-gradient(to bottom right, #a71d31, #3f0d12);
		background-attachment: fixed;
	}
}
