@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin 'daisyui';

@layer base {
	html,
	body {
		height: 100%;
		margin: 0;
		background-image: linear-gradient(to bottom right, #000000, #923cb5);
		background-attachment: fixed;
	}
}
